body{
	background-color: #C8C8C8;
	font-family: "calibri"; /*dad's favorite*/
	color: 404040;
}
h1{
	color: #175873;
	font-family: "calibri";
}
h2{
	color: #2B7C85;
	font-family: "calibri";
}
p{
	color: #C85417;
	font-family: "calibri";
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F98125;
	color: #2B7C85;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*
.primary{
	display: inline;
	border-right: 1px solid #F98125;
}
.primaryX{
	display: inline;
	border-right: none;
}
*/
