body{
	background-color: #C8C8C8;
	font-family: "calibri"; /*dad's favorite*/
	color: 404040;
}
h1{
	color: #175873;
	font-family: "calibri";
}
h2{
	color: #000000;
	font-family: "calibri";
}
p{
	color: #175873;
	font-family: "calibri";
}
/*ul.primary {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2B7C85;
	color: white;
}
li.primary {
	border-right: 1px solid #175873;
  float: left;
}
li.primary:last-child{
	float: left;
	border-right: none;
}

li a{
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}*/

/*-------------------------*/

/*.primary{
	background-color: #2B7C85;
	color: white;
}*/
#content{
	display: flex;
	background-color: #808080;
	padding: 5px;
	color: white;
	justify-content: space-between;
}
.primary ul{
  list-style-type: none;
	background-color: #2B7C85;
  margin: 0;
  padding: 0;
}
.primary li{
	display: inline-block;
	text-align: center;
	border-right: 1px solid white;
	color: white;
	background-color: #2B7C85;
}
.primary li:last-child{
	border-right: none;
}
.primary a:link {
	color: white;
	background-color: #2B7C85;
	text-decoration: none;
	padding: 14px 16px;
}
.primary a:visited{
	color: white;
	background-color: #2B7C85;
	text-decoration: none;
	padding: 14px 16px;
}
.primary a:hover{
	color: white;
	background-color: #175873;
	text-decoration: none;
	padding: 14px 16px;
}
.primary a:visited:hover{
	color: white;
	background-color: #175873;
	text-decoration: none;
	padding: 14px 16px;
}
.li1{
	background-color: #36454F;
}
h3{
	clear: both;
}
