body{
	background-color: #C8C8C8;
	font-family: "calibri"; /*dad's favorite*/
	color: 404040;
}
h1{
	color: #175873;
	font-family: "calibri";
}
h2{
	color: #2B7C85;
	font-family: "calibri";
}
p{
	color: #C85417;
	font-family: "calibri";
}
ul.primary {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2B7C85;
	color: white;
}
li.primary {
	border-right: 1px solid #175873;
  float: left;
	display: inline-block;
}
li.primary:last-child{
	float: left;
	border-right: none;
}

li a{
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
